@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

:root {
    --swiper-pagination-color: #0db5ec;
    --swiper-pagination-bullet-inactive-color: #004860;
    --swiper-pagination-bullet-inactive-opacity: 1;
    --swiper-pagination-bullet-opacity: 1;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

.max-width{
    max-width: 1300px;
    padding: 0px 80px;
    margin: auto;
}

.navbar{
    position: fixed;
    width: 100%;
    padding: 30px 0px;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
    z-index: 999;
}

.navbar.sticky{
    padding: 15px 0px;
    background: #017398;
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
    /* margin-left: -100px; */
}

.navbar .logo a span{
    color: #017398;
    transition: all 0.3s ease;
}

.navbar.sticky .logo a span{
    color: #fff;
    transition: all 0.3s ease;
}


.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
    display: block;
}

.navbar .menu li a:hover{
    color: #017398;
}

.navbar.sticky .menu li a:hover{
    color: #0db5ec;
}

.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

/* stylowanie strony glownej */

.home{
    display: flex;
    background: url("img/background.jpg") no-repeat center;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}

.home .max-width{
    margin: auto 0 auto 40px;
}

.home .home-content .text-1{
    font-size: 27px;
}

.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}

.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}

.home .home-content .text-3 span{
    color: #0e7698;
    font-weight: 500;
}

.home .logo img{
    max-height: 200px;
}

.home .socials{
    display: flex;
    font-size: 30px;
    margin-top: 20px;
    gap: 30px;
}

.home .socials a{
    color: #fff;
    transition: all .3s ease;
}

.home .socials a:hover {
    color: #0e7698;
}

/* stylowanie sekcji o mnie */
section{
    padding: 100px 0;
}
.about, .education, .skills, .experience, .hobby, .contact, footer{
    font-family: 'Poppins', sans-serif;
    list-style: none;
}

section .tittle{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
    padding-bottom: 20px;
    margin-bottom: 60px;
}

section .tittle::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #017398;
    transform: translateX(-50%);
}


.about .about-content .left img{
    
    width: 550px;
    object-fit: cover;
    border-radius: 6px;
    
}

.about .about-content .left{
    width: 45%;
}

.about .about-content, .education .education-content, .skills .skills-content, .contact, .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.about .about-content .right{
    width: 55%;
}

.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about .about-content .right .text span{
    color: #017398;
}

.about .about-content .right p{
    text-align: justify;
}

.about .about-content .right a{
    text-align: justify;   
    display: inline-block;
    background-color: #017398;
    color: #fff;
    font-size: 20px;
    padding: 1px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #017398;
    transition: all 0.3s ease;
    font-weight: 500;
}

.about .about-content .right a:hover{
    color: #017398;
    background: none;
}


.education, .experience{
    color: #fff;
    background: #111;
}

.education .education-content .card{
    color: #cdcdcd;
    width: calc(33% - 20px);
    min-height: 400px;
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.education .education-content .card .extra{
    color: #0db5ec;
}

.education .education-content .card:hover .extra{
    color: #000;
}

.education .education-content .card:hover{
    color: #fff;
    background:#017398;
}


.education .education-content .card .box{
    transition: all 0.3s ease;
    padding-top: 5%;
    display: block;
}

.education .education-content .card:hover .box{
    transform: scale(1.05);
}

.education .education-content .card img{
    height: 100px;
    width: auto;
}

.education .education-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;

}

/* .education .education-content .card{
    /* height: auto; 
} */


/* .skills .skills-content .column{
    width: calc(50% - 30px);
} */

.skills .skills-content .top-text .text, .hobby-description{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;

}

.skills .skills-content .bottom-text .skill-box {
    margin-bottom: 15px;
    margin-left: -20%;
    max-width: 800px;
}

.skills .skills-content .bottom-text .label {
    font-weight: 500;
    font-size: 18px;

    position: relative;
    padding: 10px;
    border-bottom:solid #017398;
    cursor: pointer;
    transition: all 0.3s ease;
}

.skills .skills-content .bottom-text .label::before{
    content: "+";
    padding-right: 5px;
    font-size: 1.5em;

    
}

.skills .skills-content .bottom-text .label:hover {
    background-color: #017398;
    border-radius: 6px;
    color: #fff;

}

.skills .skills-content .bottom-text .active .label::before{
    content: "-";
}


.skills .skills-content .bottom-text .info {
    text-align: justify;
    position: relative;
    background-color: #e5f2f6;
    border-radius: 6px;
    overflow: hidden;
    transition: 0.2s ease;
    height: 0;
    overflow-y: auto;
}

.skills .skills-content .bottom-text .active .info {
    height: 105%;
    padding: 10px;
}

.carousel{
display: flex;
align-items: center;
justify-content: center;

}

.experience .carousel .card .box{
    background: #222;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    padding: 25px 20px;
    padding-left: 30px;
    align-items: center;
    margin: 20px 50px;
    height: 450px;
    transition: all .3s ease;
    color: #cdcdcd;
}

.experience .carousel .card:hover .box{
    transform: scale(1.05);
}
.experience .carousel .card:hover .box{
    background-color: #017398;
    color: #fff;
}

.experience .carousel .card:hover .text span{
    color: #000;
    font-weight: bold;
}

.experience .carousel .card .text{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    margin-bottom: 20px;
}

.experience .carousel .card .text span{
    font-size: 15px;
    color: #017398;
    transition: all .3s ease;
}

.experience .carousel .card p{
    font-size: 15px;
    font-weight: 500;
    margin-top: 10px;
    text-align: center;
}

.experience .carousel .card img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #017398;
}

.experience .carousel .card:hover img{
    border: 5px solid #0db5ec;
}

.not-max-width{
    max-width: 1500px;
    margin: auto;
}

.swiper-pagination{
    position: static !important; 
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    position: relative;
    flex-direction: column;
}


.hobby-description p{
    margin-bottom: 50px;
    font-weight: normal;
    font-size: 16px;
}

.hobby li{
    list-style: none;
}

.hobby
.container
.content{
   width: 100%;
}


.hobby-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    max-width: 100%;
    margin-top: -20px;
    gap: 20px;
    list-style: none;
}

.hobby-card{
    background: #e5f2f6;
    border-bottom: 3px solid #017398;
    padding: 50px;
    /* margin-top: 80px; */
    border-radius: 6px;
    text-align: center;
    justify-content: center;
    position: relative;
    overflow: visible;

}

.hobby-card img{
    position: absolute;
    z-index: 10;
    float: inline-start;
    transform: translateX(-50%);  

}

 .hobby-card > i{
    color: #017398;
    font-size: 3em;
    margin-bottom: 30px;
   
 }

 .hobby-card h3{
    margin-top: 40px;
    font-size: 1.3em;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 10px;
 }

 .hobby-card p{
    margin-bottom: 10px;
    font-size: 1.5em;

 }

 .hobby-card .learn-more-btn{
    color: #0db5ec;
    cursor: pointer;
    transition: .5s ease;
    font-size: 15px;
 }

 .hobby-card .learn-more-btn i{
    transition: .3s ease;
 }

 .hobby-card:hover .learn-more-btn i{
    transform: translateX(10px);
 }

 .hobby-modal{
    z-index: 999999;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: #01729845;
    backdrop-filter: blur(10px);
    visibility: hidden;
    opacity: 0; 
    transition: .3s ease;
    text-align: left;
    justify-content: center;
    
 }

 .hobby-modal img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
 }

 .swiper-slide img {
    width: 100%;
    height: auto;
    max-width: 100%;
    object-fit: cover;
}

.hobby-modal.active{
    visibility: visible;
    opacity: 1;
}

 .hobby-modal-body{
    position: relative;
    background:  #ffffff;
    width: 100%;
    max-width: 600px;
    margin: 20px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgb(0 0 0 / 30%);
    transform: translateY(-100px);
    transition: .5s ease;
    text-align: center;
    justify-content: center;
 }

 .hobby-modal.active .hobby-modal-body{
    transform: translateY(0);
 }

.hobby-modal-body .modal-close-btn{
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    cursor: pointer;
}

.hobby-modal-body h2{
    font-size: 1.2em;
    
}

.hobby-modal-body a {
    text-decoration: none;
    color: #0db5ec;
    transition: .3s ease;
  }

  .hobby-modal-body a:hover{
    color: #316892;
    
  } 

.hobby-modal-body h3{
    font-size: 2em;
}

.hobby-modal-body h4{
    font-size: 1em;
    font-weight: 600;
    margin: 15px 0 10px;
}

.hobby-modal-body ul li{
    margin-top: 15px;
}


.swiper-slide .img-card{
    position: relative;
    max-width: 100%;
    border-radius: 10px;
}

.swiper-slide .img-card .overlay{
    transition: 1s ease;
}

.swiper-slide .img-card:hover .overlay{
    z-index: 777;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 0.7);
    border-radius: 10px;
}

.swiper-slide .img-card .info{
    z-index: 777;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 20px;
    color: white;
    transform: translateY(20px);
    opacity: 0;
    transition: .5s ease;
    text-align: justify;
}

.swiper-slide .img-card:hover .info{
    opacity: 1;
    transform: translateY(0);
}


.contact .contact-content .column{
    width: calc(50% - 30px);
}

.contact .contact-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.contact .contact-content .left span{
    font-weight: 700;
    color: #017398;
}

.contact .contact-content .left p{
    text-align: justify;
}

.contact .contact-content .left .icons{
    margin: 10px 0;
}

.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}

.contact .contact-content .row .info{
    margin-left: 30px;
}

.contact .contact-content .row i{
    font-size: 25px;
    color: #017398;
}


.contact .contact-content .info .head{
    font-weight: 500;

}

.contact .contact-content .info .sub-title{
    color: #333;
}

.contact .right form .fields{
    display: flex;
}

.contact .right form .field,
.contact .right form .fields .field{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}

.contact .right form .textarea{
    height: 80px;
    width: 100%;
}

.contact .right form .name{
    margin-right: 10px;
}

.contact .right form .email{
    margin-left: 10px;
}

.contact .right form .field input,
.contact .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid #017398;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}

.contact .right form .textarea textarea{
    padding-top: 10px;
    resize: none;
}

.contact .right form .button{
    height: 47px;
    width: 170px;
}

.contact .right form .button button{
    width: 100%;
    height: 100%;
    border: 2px solid #017398;
    background: #017398;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    transition: all .3s ease;
}


.contact .right form .button button:hover{
    color: #017398;
    background: none;
}

footer{
    background: #222;
    padding: 20px 23px;
    color: #fff;
    width: 100%;
    text-align: center;
}

footer span a{
    color: #0db5ec;
    text-decoration: none;
}

footer span a:hover{
    text-decoration: underline;
}

footer .socials{
    display: flex;
    font-size: 20px;
    margin-top: 10px;
    gap: 15px;
    justify-content: center;
}

footer .socials a{
    color: #fff;
    transition: all .3s ease;
}

footer .socials a:hover {
    color: #0e7698;
}



@media (max-width: 1240px){
    .about .about-content .column{
        width: 50%;
    }

    .about .about-content .left img{
        width: 450px;

    }


}

@media (max-width: 1096px){
    .max-width{
       padding: 0 50px; 
    }

    .menu-btn{
        display: block;
        z-index: 999;
    }

    .menu-btn i.active:before{
        content: "\f00d";
    }

    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #017398;
        text-align: center;
        padding-top: 80px;
        transition: all .3s ease;
    }

    .navbar .menu.active{
        left: 0;
    }

    .navbar .menu li{
        display: block;
    }

    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }

    .home .home-content .text-2{
        font-size: 70px;
    }

    .home .home-content .text-3{
        font-size: 35px;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }

    .about .about-content .right{
        flex: 100%;

    }

    .about .about-content .column{
        width: 100%;
    }

    .max-width{
        max-width: 800px;
     }


    .education .education-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }

    .skills .skills-content .bottom-text .skill-box {
        margin-bottom: 15px;
        margin-left: 0;
    }

    .contact .contact-content .column{
        width: 100%;
        margin-bottom: 35px;
    }

    

}

@media (max-width: 690px){
    .max-width{
        padding: 0 23px; 
     }


     /* .home .logo img{
        margin-left: 80px;
    } */

    .home .home-content .text-2{
        font-size: 60px;
    }

    .home .home-content .text-3{
        font-size: 32px;
    }

    .education .education-content .card{
        width: 100%;
        justify-content: center;

    }

    .swiper-slide .img-card .info{
        font-size: 12px;
    }


}
 